asgiref
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
Django
django-crispy-forms
django-environ
django-js-asset
django-storages
django-tinymce
django-widget-tweaks
gunicorn
idna
nh3
packaging
Pillow
protobuf
psycopg2-binary
pycparser
requests
soupsieve
sqlparse
stripe
typing_extensions
urllib3
whitenoise
