{% load static %}
<!-- Gallery Section -->
<section class="p-6 bg-secondary grid md:p-16 md:grid-cols-2 md:grid-rows-3 lg:grid-cols-4 lg:grid-rows-2">
    <figure class="md:col-span-2 md:row-span-1 lg:col-span-2 lg:row-span-2 relative">
        <a href="https://djangify.com/portfolio/stream-english/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/gallery-1.png' %}" alt="Gallery stream english" />
        </a>
    </figure>
    <figure class="relative">
        <a href="https://djangify.com/portfolio/our-spot/" target="_blank" rel="noopener noreferrer">
        
            <img src="{% static 'images/gallery-2.jpg' %}" alt="Gallery 2 Our Spot" />
        </a>
    </figure>
    <figure class="relative">
        <img src="{% static 'images/gallery-3.jpg' %}" alt="Gallery 3" />
    </figure>
    <figure class="relative">
        <img src="{% static 'images/gallery-4.jpg' %}" alt="Gallery 4" />
    </figure>
    <figure class="relative">
        <img src="{% static 'images/gallery-5.jpg' %}" alt="Gallery 5" />
    </figure>    
</section>
<div class="p-6 bg-secondary text-text relative md:p-16 flex flex-col gap-y-5 lg:gap-y-10">
    <a class="uppercase p-2 border-2 border-accent bg-accent self-start text-xs rounded sm:text-lg sm:px-4" href="{% url 'portfolio:portfolio_list' %}">View Portfolio</a>
</div>