{% load static %}
<!-- Gallery Section -->
<section class="p-6 bg-secondary text-text md:p-16">
    <main class="max-w-screen-2xl grid gap-y-6">
        <div class="grid gap-y-2">
            <h6 class="text-sm pl-6 uppercase relative before before:h-1 before:w-4 before:bg-accent before:top-2/4 before:-translate-y-2/4 before:left-0 lg:text-lg">
                My Portfolio
            </h6>
            <p>
                I don't just manage technologies, I actively develop and maintain my own digital ventures. This means I can work with a smaller client base and deliver personalised attention. Take a look at my portfolio.
            </p>
        </div>
        <br>
        <section class="grid gap-y-4 gap-x-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <figure class="relative overflow-hidden after after:w-full after:h-full after:z-10 after:top-0 after:left-0 after:bg-accent/60 after:rounded after:backdrop-blur-sm after:scale-x-0 after:transition hover:after:scale-x-100 after:origin-left hover:after:origin-right group">
                <a href="{% url 'portfolio:portfolio_detail' slug='stream-english' %}" target="_blank" rel="noopener noreferrer">
                    <img class="w-full h-full object-cover transition-transform duration-300" 
                         src="{% static 'images/gallery-1.jpg' %}" 
                         alt="Project 1 - Stream English" />
                </a>
                <figcaption class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 origin-left group-hover:origin-right text-text transition z-[11] scale-x-0 group-hover:scale-x-100 lg:font-bold xl:text-xl">
                    Stream <p>English</p>
                </figcaption>
            </figure>
            
            <figure class="relative overflow-hidden after after:w-full after:h-full after:z-10 after:top-0 after:left-0 after:bg-accent/60 after:rounded after:backdrop-blur-sm after:scale-x-0 after:transition hover:after:scale-x-100 after:origin-left hover:after:origin-right group">
                <a href="{% url 'portfolio:portfolio_detail' slug='show-your-spot' %}" target="_blank" rel="noopener noreferrer">
                    <img class="w-full h-full object-cover transition-transform duration-300" 
                         src="{% static 'images/gallery-2.jpg' %}" 
                         alt="Project 2 - Our Spot" />
                </a>
                <figcaption class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 origin-left group-hover:origin-right text-text transition z-[11] scale-x-0 group-hover:scale-x-100 lg:font-bold xl:text-xl">
                    Show Your <p>Spot</p>
                </figcaption>
            </figure>
            
            <figure class="relative overflow-hidden after after:w-full after:h-full after:z-10 after:top-0 after:left-0 after:bg-accent/60 after:rounded after:backdrop-blur-sm after:scale-x-0 after:transition hover:after:scale-x-100 after:origin-left hover:after:origin-right group">
                <a href="{% url 'portfolio:portfolio_detail' slug='poster-palace' %}" target="_blank" rel="noopener noreferrer">
                    <img class="w-full h-full object-cover transition-transform duration-300" 
                         src="{% static 'images/gallery-3.jpg' %}" 
                         alt="Project 3 - Poster Palace" />
                </a>
                <figcaption class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 origin-left group-hover:origin-right text-text transition z-[11] scale-x-0 group-hover:scale-x-100 lg:font-bold xl:text-xl">
                    Poster <p>Palace</p>
                </figcaption>
            </figure>
            
            <figure class="relative overflow-hidden after after:w-full after:h-full after:z-10 after:top-0 after:left-0 after:bg-accent/60 after:rounded after:backdrop-blur-sm after:scale-x-0 after:transition hover:after:scale-x-100 after:origin-left hover:after:origin-right group">
                <a href="{% url 'portfolio:portfolio_detail' slug='pen-and-i-publishing' %}" target="_blank" rel="noopener noreferrer">
                    <img class="w-full h-full object-cover transition-transform duration-300" 
                        src="{% static 'images/gallery-4.jpg' %}" 
                        alt="Project 4 - Pen Publishing" />
                </a>
                <figcaption class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 origin-left group-hover:origin-right text-text transition z-[11] scale-x-0 group-hover:scale-x-100 lg:font-bold xl:text-xl">
                    Pen & I
                    <p>Publishing</p>
                </figcaption>
            </figure>        

        </section>
    </main>
    <br>
    <div class="mt-8">
        <a href="{% url 'portfolio:portfolio_list' %}" 
           class="inline-block uppercase p-2 border-2 border-accent font-semibold text-xs hover:text-accent transition-colors cursor-pointer rounded sm:text-lg sm:px-4">
            View All Projects
        </a>
    </div>
</section>
