{% load static %}
<!-- Gallery Section -->
<section class="p-6 bg-secondary text-text  md:p-16">
    <main class="max-w-screen-2xl grid gap-y-6">
        <div class="grid gap-y-2">
            <h1 class="text-2xl font-bold sm:text-3xl xl:text-5xl">My Portfolio</h1>
        </div>
        <br>
        <section class="grid gap-y-4 gap-x-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <figure>
                <a href="/portfolio/stream-english/" target="_blank" rel="noopener noreferrer">
                    <img class="w-full h-full object-cover hover:scale-105 transition-transform duration-300" 
                         src="{% static 'images/gallery-1.png' %}" 
                         alt="Project 1 - Stream English" />
                </a>
            </figure>
            
            <figure>
                <a href="/portfolio/our-spot/" target="_blank" rel="noopener noreferrer">
                    <img class="w-full h-full object-cover hover:scale-105 transition-transform duration-300" 
                         src="{% static 'images/gallery-2.jpg' %}" 
                         alt="Project 2 - Our Spot" />
                </a>
            </figure>
            
            <figure>
                <a href="/portfolio/poster-palace/" target="_blank" rel="noopener noreferrer">
                    <img class="w-full h-full object-cover hover:scale-105 transition-transform duration-300" 
                         src="{% static 'images/gallery-3.jpg' %}" 
                         alt="Project 3 - Poster Palace" />
                </a>
            </figure>
            
            <figure>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img class="w-full h-full object-cover hover:scale-105 transition-transform duration-300" 
                        src="{% static 'images/gallery-4.jpg' %}" 
                        alt="Project 4 - Pen Publishing" />
                </a>
            </figure>        

        </section>
    </main>
    <br>
    <div class="mt-8">
        <a href="{% url 'portfolio:portfolio_list' %}" 
           class="inline-block uppercase p-2 border-2 border-accent bg-accent text-xs rounded hover:bg-transparent hover:text-text transition-colors duration-300 sm:text-lg sm:px-4">
            View All Projects
        </a>
    </div>
</section>