{% load static %}
<nav class="p-2 text-lg flex justify-between items-center bg-primary">
    <figure class="p-2 flex justify-between items-center">
        <a class="text-accent" href="/">
            <img src="{% static 'images/djangify-logo.png' %}" alt="Djangify Logo" class="h-8">
        </a>
    </figure>
    <ul class="nav fixed inset-0 top-14 flex flex-col items-center justify-center bg-primary -translate-y-full transition-transform sm:flex-row sm:scale-y-100 sm:backdrop-blur-0 sm:static sm:p-2 sm:bg-transparent sm:translate-y-0">
        <li class="m-2"><a class="nav--link text-text sm:hover:text-accent sm:before:bg-accent" href="/">Home</a></li>
        <li class="m-2"><a class="nav--link text-text sm:hover:text-accent sm:before:bg-accent" href="/#about">About</a></li>
        <li class="m-2"><a class="nav--link text-text sm:hover:text-accent sm:before:bg-accent" href="/#gallery">Portfolio</a></li>
        <li class="m-2"><a class="nav--link text-text sm:hover:text-accent sm:before:bg-accent" href="/#news">News</a></li>
        <li class="m-2"><a class="nav--link text-text sm:hover:text-accent sm:before:bg-accent" href="/#contact">Contact</a></li>
    </ul>
    <div class="flex items-center gap-2">
        <div class="hamburger sm:hidden order-last self-center"></div>
        <a class="uppercase border-2 bg-accent border-accent p-2 m-2 text-xs text-text rounded sm:text-lg sm:px-4" href="{% url 'shop:product_list' %}">
            <span>Shop</span>
            <i class="fa-solid fa-angles-right text-text ml-2 group-hover:translate-x-2 transition-transform"></i>
        </a>
    </div>
</nav>