{% load static %}
<!-- News Section -->
<section class="p-6 flex flex-col gap-y-10 bg-primary text-text md:p-16 lg:gap-x-10 lg:flex-row-reverse *:basis-full">
    <div class="flex flex-col gap-y-5 lg:self-center xl:gap-y-10 *:space-y-2">
        <div>
            <h6 class="text-sm pl-6 uppercase relative before before:h-1 before:w-4 before:bg-accent before:top-2/4 before:-left-0 lg:text-lg">
                news
            </h6>
            <h2 class="text-2xl capitalize lg:text-3xl">
                News. Articles. Blog Posts
            </h2>
        </div>

        <p>
            Content creation is a regular part of the work I enjoy. Whether it is writing for my blog or supporting you in creating content for yours! As well as Tech VA related information and industry updates, I write about software developer related topics.
        </p>

        <a class="uppercase p-2 border-2 border-accent font-semibold self-start text-xs rounded inline-block sm:text-lg sm:px-4" href="{% url 'news:list' %}">View News</a>
    </div>

    <div class="grid gap-y-5 sm:grid-cols-2 sm:grid-rows-[min-content] sm:gap-x-5">
        <div class="grid sm:grid-rows-subgrid sm:row-span-5 gap-y-4 p-6 rounded bg-secondary shadow-lg shadow-primary border-t-2 border-accent">
            <figure>
                <img class="object-[65%]" src="{% static 'images/tech-va.jpg' %}" alt="Tech VA" />
            </figure>
            <h3 class="text-xl">Do you need a Technical Virtual Assistant?</h3>
            
            <p>
                Going from handling everything yourself to delegating tasks to a VA is both a significant step toward sustainable growth and a time of concern... 
            </p>
            <a class="uppercase justify-self-start px-6 py-2 border-2 border-accent font-semibold self-start rounded flex items-center group lg:text-sm" href="/news/is-a-tech-va-right-for-your-business">
                <span>Read More</span>
                <i class="fa-solid fa-angles-right text-text ml-2 group-hover:translate-x-2 transition-transform"></i>
            </a>
        </div>

        <div class="grid sm:grid-rows-subgrid sm:row-span-5 gap-y-4 p-6 rounded bg-secondary shadow-lg shadow-primary border-t-2 border-accent">
            <figure>
                <img class="object-[65%]" src="{% static 'images/tech-va.jpg' %}" alt="Tech VA" />
            </figure>
            <h3 class="text-xl">6 Signs That Your Business needs Tech VA Help</h3>
            
            <p>
                Daily technical challenges quietly drain resources and limit growth. Here are 6 signs that your business can benefit from the help of a Tech VA.
            </p>
            <a class="uppercase justify-self-start px-6 py-2 border-2 border-accent font-semibold self-start rounded flex items-center group lg:text-sm" href="/news/signs-your-business-needs-a-tech-va/">
                <span>Read More</span>
                <i class="fa-solid fa-angles-right text-text ml-2 group-hover:translate-x-2 transition-transform"></i>
            </a>
        </div>
        
    </div>
</section>