{% load static %}
<!-- News Section -->
<section class="2xl:max-w-screen-2xl 2xl:mx-auto p-6 flex flex-col gap-y-10 bg-primary text-text md:p-16 lg:gap-x-10 lg:flex-row-reverse *:basis-full">
    <div class="flex flex-col gap-y-5 lg:self-center xl:gap-y-10 *:space-y-2">
        <div>
            <h6 class="text-sm pl-6 uppercase relative before before:h-1 before:w-4 before:bg-accent before:top-2/4 before:-left-0 lg:text-lg">
                news
            </h6>
            <h2 class="text-2xl capitalize lg:text-3xl">
                News. Articles. Blog Posts
            </h2>
        </div>

        <p>
            Content creation is a regular part of the work I enjoy. Whether it is writing for my blog or supporting you in creating content for yours! As well as Digital Marketing related information, I write about AI search readiness, all-in-one online marketing platforms, PDF Creation and more.
        </p>

        <a href="{% url 'news:list' %}"
           class="uppercase p-2 border-2 border-accent font-semibold self-start text-xs rounded inline-block hover:text-accent transition-colors sm:text-lg sm:px-4" >View News</a>
    </div>

    <div class="grid gap-y-5 md:grid-cols-2 ">
        <div class="grid sm:grid-rows-subgrid sm:row-span-5 gap-y-4 p-6 px-4 rounded bg-secondary shadow-lg shadow-primary border-t-2 border-accent">
            <figure>
                <img class="object-[65%]" src="{% static 'images/digital-marketing-djangify.webp' %}" alt="Digital Marketing Specialist" />
            </figure>
            <h3 class="text-xl">What Is A Cluster Page?</h3>
            
            <p>
                Learn how in the age of AI you can get your website AI Search ready using Cluster Pages and FAQs... 
            </p>
            <a class="uppercase justify-self-start px-6 py-2 border-2 border-accent font-semibold self-start rounded flex items-center group lg:text-sm" href="https://djangify.com/news/what-is-a-cluster-page/">
                <span>Read More</span>
                <i class="fa-solid fa-angles-right text-text ml-2 group-hover:translate-x-2 transition-transform"></i>
            </a>
        </div>

        <div class="grid sm:grid-rows-subgrid sm:row-span-5 gap-y-4 p-6 rounded bg-secondary shadow-lg shadow-primary px-4 border-t-2 border-accent">
            <figure>
                <img class="object-[65%]" src="{% static 'images/digital-marketing-djangify.webp' %}" alt="Digital Marketing Specialist" />
            </figure>
            <h3 class="text-xl">Digital Marketing Specialist</h3>
            
            <p>
                What is a Digital Marketing Specialist and how can they help your business?
            </p>
            <a class="uppercase justify-self-start px-6 py-2 border-2 border-accent font-semibold self-start rounded flex items-center group lg:text-sm" href="https://djangify.com/news/what-is-a-digital-marketing-specialist">
                <span>Read More</span>
                <i class="fa-solid fa-angles-right text-text ml-2 group-hover:translate-x-2 transition-transform"></i>
            </a>
        </div>
        
    </div>
</section>