{% load static %}
<!-- News Section -->
<section class="p-6 flex flex-col gap-y-10 bg-primary text-text md:p-16 lg:gap-x-10 lg:flex-row-reverse *:basis-full">
    <div class="flex flex-col gap-y-5 lg:self-center xl:gap-y-10 *:space-y-2">
        <div>
            <h6 class="text-sm pl-6 uppercase relative before before:h-1 before:w-4 before:bg-accent before:top-2/4 before:-left-0 lg:text-lg">
                news
            </h6>
            <h2 class="text-2xl capitalize font-bold lg:text-3xl">
                My World, My News
            </h2>
        </div>

        <p>
            Content creation is a regular part of the work I enjoy. Whether's it is writing for my blog or for yours! Right now I am exploring and learning about AI Agents, FastAPI and other software developer related topics.
        </p>

        <a class="uppercase p-2 font-bold border-2 border-accent bg-accent self-start text-xs rounded inline-block sm:text-lg sm:px-4" href="{% url 'news:list' %}">View News</a>
    </div>

    <div class="grid gap-y-5 sm:grid-cols-2 sm:grid-rows-[min-content] sm:gap-x-5">
        <div class="grid sm:grid-rows-subgrid sm:row-span-5 gap-y-4 p-6 rounded bg-secondary shadow-lg shadow-primary border-t-2 border-accent">
            <figure>
                <img class="object-[65%]" src="{% static 'images/agentic-ai-journey2.jpg' %}" alt="Agentic AI journey" />
            </figure>
            <h3 class="font-bold text-xl">Agentic AI</h3>
            
            <p>
                Agentic AI - AI systems capable of taking autonomous actions - and the types of thorough project and ethical documentation needed to succeed.
            </p>
            <a class="uppercase justify-self-start px-6 py-2 border-2 border-accent font-bold bg-accent self-start rounded flex items-center group lg:text-sm" href="/news/what-is-agentic-ai/">
                <span>Read More</span>
                <i class="fa-solid fa-angles-right text-text ml-2 group-hover:translate-x-2 transition-transform"></i>
            </a>
        </div>

        <div class="grid sm:grid-rows-subgrid sm:row-span-5 gap-y-4 p-6 rounded bg-secondary shadow-lg shadow-primary border-t-2 border-accent">
            <figure>
                <img class="object-[65%]" src="{% static 'images/apis-ai-agent.jpg' %}" alt="APIs for AI Agent" />
            </figure>
            <h3 class="font-bold text-xl">APIs for the AI Agent Age</h3>
            
            <p>
                Agentic AI integrations will not be fixed or unchanging anymore. Instead, more temporary, flexible connections may become the standard.
            </p>
            <a class="uppercase justify-self-start px-6 py-2 border-2 border-accent font-bold bg-accent self-start rounded flex items-center group lg:text-sm" href="/news/apis-for-the-ai-agent-age/">
                <span>Read More</span>
                <i class="fa-solid fa-angles-right text-text ml-2 group-hover:translate-x-2 transition-transform"></i>
            </a>
        </div>
        
    </div>
</section>