{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="max-w-screen-xl mx-auto p-4 sm:p-6 lg:p-8 bg-white rounded-xl mt-16 space-y-12">

  <h1 class="text-2xl font-bold text-gray-900">
    Welcome back, {{ user.first_name|default:user.username }}
  </h1>
  <p class="text-gray-700 text-md">This is your personal space for tracking progress, downloading content, and staying on track.</p>

  <!-- Stats section -->
  {% comment %} <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    {% include 'accounts/includes/dashboard_stats.html' %}
  </div> {% endcomment %}

  <!-- Quick stats and Quick actions -->
  <div>
    <h2 class="text-xl font-semibold mb-4">Your Stats</h2>
    {% include 'accounts/includes/dashboard_quick_actions.html' %}
  </div>

  <!-- Recent Activity -->
  <div>
    <h2 class="text-xl font-semibold mb-4">Your Wish List</h2>
    {% include 'accounts/includes/dashboard_wishlist.html' %}
  </div>

  <div>
    <h2 class="text-xl font-semibold mb-4">Your Prompts</h2>
    {% include 'prompt/components/profile_saved_prompts.html' %}
  </div>

  <div>
    <h2 class="text-xl font-semibold mb-4">Tracker</h2>
    {% include 'prompt/components/profile_writing_tracker.html' %}
  </div>
    
     {# --- Free Download / Product CTA --- #}
      <section class="mt-16">
        <div class="grid grid-cols-1 md:grid-cols-5 gap-6 items-center bg-slate-50 border border-indigo-100 rounded-2xl p-6">
          <!-- Text Content -->
          <div class="md:col-span-3">
            <h2 class="text-2xl font-semibold text-gray-900">
              How to Define Your Core Values
            </h2>
            <p class="text-gray-700 mt-2">
              You’ve taken the first step toward making decisions with more clarity and confidence. This guide is your starting point — it will help you uncover the values that truly matter to you and put them into action right away.
            </p>
            <div class="mt-4 flex gap-3">
              <a href="/media/public/pdf/define-your-values.pdf" 
                target="_blank" 
                rel="noopener noreferrer"
                class="inline-flex items-center px-5 py-3 rounded-lg bg-teal-700 text-white font-medium hover:bg-teal-800">
                Download How to Define Your Core Values
              </a>
            </div>
          </div>

          <!-- Image Content -->
          <div class="md:col-span-2 flex justify-center">
            <div class="rounded-xl overflow-hidden border border-gray-200 bg-white">
              <img src="{% static 'images/define-core-values2.webp' %}" 
                  alt="define your core values" 
                  class="w-full h-auto max-w-xs mx-auto">
            </div>
          </div>
        </div>
      </section>



  <div>
    <h2 class="text-xl font-semibold mb-4">Additional Resources</h2>
    {% include 'prompt/components/profile_resources.html' %}
  </div>

</div>
{% endblock %}
