{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="px-6 md:px-16 py-12 text-[--color-font-main] space-y-16">

  <!-- Welcome -->
  <h1>Welcome back, {{ user.first_name|default:user.username }}</h1>

  <!-- Quick stats and Quick actions -->
  {% include 'accounts/includes/dashboard_quick_actions.html' %}



  <!-- Wishlist -->
  <div>
    <h2 class="leading-normal">Your Wish List</h2>
    {% include 'accounts/includes/dashboard_wishlist.html' %}
  </div>

  <!-- Free Resources -->
  <div>
    <h2 class="leading-normal">Free Member Resources</h2>
    {% include 'accounts/includes/profile_resources.html' %}
  </div>

</div>
{% endblock %}
