{% extends 'base.html' %}

{% block content %}

<!-- Show public header on small screens -->
{% comment %} {% if show_navbar|default:True %}
  <div class="lg:hidden">
    {% include "accounts/includes/logged_in_public_header.html" %}
  </div>
{% endif %} {% endcomment %}

<div class="flex min-h-screen bg-white">
  <div class="hidden lg:block w-64 bg-slate-50 p-6 border-r">
    {% include "accounts/includes/sidebar.html" %}
  </div>

  <!-- Main Content -->
  <div class="flex-1 p-6">
    {% block dashboard_content %}{% endblock dashboard_content %}
  </div>
</div>
{% endblock content %}
