{% load static %}
<section
  class="relative w-full overflow-hidden bg-cover bg-center"
  style="background-image: url('{% static "images/hero-bg.webp" %}'); background-position: 50% 70%; background-size: cover;"
>
  <div class="relative flex flex-col items-center justify-center text-center py-20 px-6 lg:py-28 max-w-5xl mx-auto z-10">
    
    <h1 class=" text-4xl lg:text-5xl font-bold uppercase text-[color:var(--color-brand-primary)] leading-relaxed mb-6">
      Simple Sustainable Systems for Selling Online
    </h1>
    <p class="text-lg lg:text-xl leading-relaxed font-semibold max-w-3xl">
      Turn your expertise and ideas into something that sells.
      Djangify gives creators and entrepreneurs the tools and digital guides to start, simplify, or improve how they sell online with clear steps that actually work.
    </p>
  </div>
</section>
