{% load static %}
<section class="flex flex-col bg-primary gap-10 lg:flex-row lg:*:basis-full lg:gap-x-24 xl:gap-x-12 2xl:max-w-screen-2xl 2xl:mx-auto">
  <div class="flex flex-col gap-y-5 lg:gap-y-12 xl:self-center xl:gap-y-24">
    <div class="space-y-2 lg:space-y-4">
      <h6 class="text-sm pl-6 uppercase relative before before:h-1 before:w-4 before:bg-accent before:top-2/4 before:-translate-y-2/4 before:left-0 lg:text-lg">
        Practical Digital Guides
      </h6>
      <h1 class="text-4xl font-semibold lg:text-7xl">For creative entrepreneurs getting started online</h1>
    </div>
      <p class="lg:text-lg">
       Djangify creates simple, actionable digital guides that help creators and entrepreneurs build an online presence with clarity and confidence. Every product focuses on what matters most — turning ideas into income through practical systems and repeatable steps.
      </p>

      <div class=" flex gap-5">
        <a class="uppercase bg-[color:var(--color-brand-primary)] text-[color:var(--color-brand-light)] border border-[color:var(--color-brand-primary)] px-6 py-3 rounded-md hover:bg-[color:var(--color-brand-accent)] transition-colors" href="/shop/">Visit the Shop</a>
        <a class="uppercase bg-[color:var(--color-brand-accent)] text-[color:var(--color-brand-light)] border border-[color:var(--color-brand-accent)] px-6 py-3 rounded-md hover:bg-[color:var(--color-brand-secondary)] transition-colors" href="/#contact">Work With Me</a>
      </div>
    </div>
  </div>

  <figure class="hero-image-wrapper">
      <img src="{% static 'images/djangify-digital-marketing-specialist.webp' %}" 
          alt="Django backend developer" 
          class="hero-image">
    </figure>
</section>