{% load static %}
<section class="p-6 flex flex-col gap-y-10 bg-primary text-text md:p-16 lg:gap-x-10 lg:flex-row *:basis-full">
    <div class="flex flex-col gap-y-5">
        <figure>
            <img src="{% static 'images/form.jpg' %}" alt="Form Image" />
        </figure>

        <form class="flex flex-col font-bold gap-y-2 *:px-4 *:py-2 *:rounded *:outline-none h-full" method="post">
            {% csrf_token %}
            <input
                class="bg-accent text-text placeholder:text-text/80 h-12 sm:h-16"
                type="text"
                name="name"
                placeholder="Name"
                required
            />
            <input
                class="bg-accent text-text placeholder:text-text/80 h-12 sm:h-16"
                type="email"
                name="email"
                placeholder="Email"
                required
            />
            <textarea
                class="bg-accent text-text placeholder:text-text/80 h-48 lg:h-full"
                name="message"
                placeholder="Message"
                required
            ></textarea>
            <input
                class="border-2 border-accent bg-accent text-text cursor-pointer h-12 sm:h-16"
                type="submit"
                value="Submit"
            />
        </form>
    </div>

    <div class="flex flex-col gap-y-5 lg:self-center xl:gap-y-10 *:space-y-2">
        <div>
            <h6 class="text-sm pl-6 uppercase relative before before:h-1 before:w-4 before:bg-accent before:top-2/4 before:-left-0 lg:text-lg">
                let's talk
            </h6>
            <h2 class="text-2xl capitalize font-bold lg:text-3xl">
                Ready to offload your technical challenges?
            </h2>
        </div>

        <p>
            Contact me today for a free 20-minute consultation to discuss how I can help streamline your digital operations. For me, digital solutions are ultimately about human connection.
        </p>
        
        <p class="font-bold">Let me know if you are looking for:</p>
        <ul class="list-disc list-inside space-y-1">
            <li>
                <strong>Tech Tune-Up:</strong> A one-time package to assess, organise, and optimise your current digital systems.
            </li>
            <li>
                <strong>Monthly Maintenance:</strong> Ongoing website and digital systems maintenance to keep everything running smoothly.
            </li>
            <li>
                <strong>Complete Technical Management:</strong> Comprehensive technical support for all your digital needs, allowing you to focus entirely on your core business.
            </li>
        </ul>
       
       
    </div>
</section>